* {
	margin:0;
	padding:0;
	border: none; 
}

body{
	width: auto;
	
}
header{
	width: 100%;
	height: 100px;
	background-color: #FFC600;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
header img{
	width: 300px;
	height: 80px;
	margin:5px 0 0 6cm;
	float:left;
}
#head h1 {
	font-size: 130%;
	padding:10px;
}
#head h3{
	font-size: 100%;
}
nav{
	width: 100%;
	
}
#menu ul{
	list-style-type: none; 
	background:#AE1A1F;
	text-align: center;
	

}
#menu ul li{
	
	display: inline-table;
	width: 120px;
	height: 40px;
	line-height: 1.42857143;
	position: relative;
	padding: 5px;
}
#menu ul li a{
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff000;
	font-size: 14px;
	text-decoration: none;
	display: block;
}
	#menu ul li a:hover {
	background: #fff000;
	color:#333;
}
#menu ul li > #sub-menu {
	display: none;
	position: absolute;
}
#menu ul li:hover #sub-menu {
	display: block;
	background: #333333;
}
section img{
	width: 1200px;
	height: 500px;
	margin: 5px 0 0 5cm;

}
#tintuc {
	color: #CC0000;
	background: #F1F1F1;;
	margin-top: 6px;
    margin-left: 5cm;
    margin-bottom: 6px;
	font-size: 15px;
	border-left: 4px solid #AE1A1F;
	padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 1190px;
}
#tintuc button{
	float: right;
	color: #fff;
	background:  #d9534f;
	font-size: 14px;
	padding: 6px 12px;
	text-align: center;
	margin-top: -5px;
}
section ul{
	width: 300px;
	
	float: left;
}
#rect img{
	width: 400px;
	height: 200px;
}
#rect p{
	margin-left: 5cm;
	width: 400px;
	float:left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#hoithao img{
	width: 380px;
	height: 200px;
	margin: 23px 0 0 8.5cm;
}
#hoithao p{
	margin-left: 8.5cm;
	width: 400px;
	float:left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#fap img{
	width: 380px;
	height: 200px;
	margin: 23px 0 0 11.5cm;
}
#fap p{
	margin-left: 11.5cm;
	width: 390px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#daotao {
	color: #CC0000;
	background: #F1F1F1;
	margin-top: 6px;
    margin-left: 5cm;
    margin-bottom: 6px;
	font-size: 15px;
	border-left: 4px solid #AE1A1F;
	padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 1190px;
    float: left;
}
section {
	width: 100%;
}
#thong{
	margin: auto;
	width: 75%;
}



#hk1 img{
	width: 300px;
	height: 400px;
	margin:auto;

}
#hk1 h1{
	text-align: center;
	width: 300px;
	margin: 15px 0 0 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #CC0000;
}
#hk1 h2{
	text-align: center;
	margin: 15px 0 0 0;
	width: 300px;
	font-size: 14px;
}
#hk1 p{
	margin: 15px 0 0 0;
	width: 300px;
	font-family: 
	"Helvetica Neue", Helvetica, Arial, sans-serif;

	
}
#hk1 button{
	color: #fff;
	background:  #d9534f;
	font-size: 14px;
	padding: 8px 14px;
	text-align: center;
	margin: 10px 0 0 2.5cm;
	width: 100px;
	float: left;


	
}
#hk2 img{
	width: 300px;
	height: 400px;
	margin-top: -10px;
	margin-left: 5.5cm;
}
#hk2 h1{
	text-align: center;
	width: 300px;
	margin: 15px 0 0 5.5cm;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #CC0000;
}
#hk2 h2{
	text-align: center;
	margin: 15px 0 0 6cm;
	width: 200px;
	font-size: 14px;
}
#hk2 p{
	margin: 15px 0 0 5.5cm;
	width: 300px;
	font-family: 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
}
#hk2 button{
	color: #fff;
	background:  #d9534f;
	font-size: 14px;
	padding: 8px 14px;
	text-align: center;
	margin: 10px 0 0 8cm;
	width: 100px;
}
#hk3 img{
	width: 300px;
	height: 400px;
	margin-top: -10px;
	margin-left: 6cm;
}
#hk3 h1{
	text-align: center;
	width: 300px;
	margin: 15px 0 0 6cm;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #CC0000;
}
#hk3 h2{
	text-align: center;
	margin: 15px 0 0 7cm;
	width: 250px;
	font-size: 14px;
	float: left;
}
#hk3 p{
	margin: 15px 0 0 6cm;
	width: 300px;
	font-family: 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	float: left;
}
#hk3 button{
	color: #fff;
	background:  #d9534f;
	font-size: 14px;
	padding: 8px 14px;
	text-align: center;
	margin: 10px 0 0 9cm;
	width: 100px;
	float: left;
}
#hk4 img{
	width: 300px;
	height: 400px;
	margin-top: -3px;
	margin-left: 6.5cm;
	float: left;
}
#hk4 h1{
	text-align: center;
	width: 300px;
	margin: 20px 0 0 6.5cm;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #CC0000;
}
#hk4 h2{
	text-align: center;
	margin: 25px 0 0 7.5cm;
	width: 250px;
	font-size: 14px;
	float: left;
}
#hk4 p{
	margin: 33px 0 0 7cm;
	width: 300px;
	font-family: 
	"Helvetica Neue", Helvetica, Arial, sans-serif;
	float: left;
}
#hk4 button{
	color: #fff;
	background:  #d9534f;
	font-size: 14px;
	padding: 8px 14px;
	text-align: center;
	margin: 20px 0 0 9cm;
	width: 100px;
	float: left;
}









	

	
	

	



