*{
	margin:0;
	padding: 0;
}
body{
	width: 90%;
	margin: 15px auto;
	border: 1px solid black;
}
header{
	clear: both;
	height: 50px;
	border: 1px solid black;
	border-bottom: 2px solid #ef9c00;
}
#slideA{
	width: 19%;
	height: 400px;
	float: left;
	border-right: 2px solid #ef9c00;

}
section{
	width: 60%;
	height: 400px;
	border-right: 2px solid #ef9c00;
	float:left;
}
#slideB{
	width: 19%;
	float:right;
}
footer{
	clear: both;
	height: 50px;
	border:1px solid black;
}